<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hila.myfirstapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/taxiicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/taxiicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.SignUp"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".controller.Profile"
            android:label="@string/title_activity_xxx"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- my service -->
        <service
            android:name=".controller.NotificationService"
            android:enabled="true"
            android:exported="true" />


        <receiver android:name=".controller.ToNotificationReceiver">
            <intent-filter>
                <action android:name="MyReceiver" />
            </intent-filter>
        </receiver>


    </application>

</manifest>